#root {
  font-family: Arial, Helvetica, sans-serif;
}

.container-root {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
.annoType1 {
  background: skyblue;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}
